[submodule "territoriali-frontend"]
	path = territoriali-frontend
	url = https://github.com/algorithm-ninja/territoriali-frontend
[submodule "territoriali-cli"]
	path = territoriali-cli
	url = https://github.com/algorithm-ninja/territoriali-cli
[submodule "vm-utils/httptun"]
	path = vm-utils/httptun
	url = https://github.com/veluca93/httptun
