[Unit]
Description=Backend per territoriali OII

[Service]
ExecStart=/usr/bin/terr-server -c /app/config.yaml
WorkingDirectory=/app/territoriali-backend
Restart=always

[Install]
WantedBy=default.target
