.sidebar {
  height: calc(100vh - 56px) ;
  padding: 0px;
  padding-top: 16px;
}

.nav-link {
  border-radius: 0px !important;
}

.divider-vertical {
  width: calc( 100% - 32px );
  margin: auto;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #FFF;
  margin-bottom: 8px;
  display: none;
}

li.title {
  padding-left: 16px;
}

main {
  padding: 16px;
}
