table.sample-case {
  white-space: pre;
}

table.submissions-table td {
  vertical-align: middle;
}

a.tasklist-item {
  text-transform: uppercase;
}

h5.modal-subtitle {
  margin-top: .5rem;
}

.file-view dd {
  margin-bottom: 0px;
}

.sidebar {
  height: calc(100vh - 56px) ;
  padding: 0px;
  padding-top: 16px;
}

.no-padding {
  padding: 0px;
}

.nav-link {
  border-radius: 0px !important;
}

.divider-vertical {
  width: calc( 100% - 32px );
  margin: auto;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #FFF;
  margin-bottom: 8px;
  display: none;
}

li.title {
  padding-left: 16px;
}

main {
  padding: 16px;
  height: calc(100vh - 56px) ;
  overflow-y: scroll;
  overflow-x: hidden;
}

.task-score-badge {
  float: right;
  margin-top: .2rem;
}

.task-list-item {
  overflow-x: hidden;
}

/*

.oii-modal.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.oii-modal .modal-dialog {
  background-color: white;
  border-radius: .3rem;
}

*/

.submissionView {
  margin: 16px;
}

#source-file-span:lang(en)::after {
    content: "Source code...";
}

#output-file-span:lang(en)::after {
    content: "Output file...";
}


/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
/*
  background-color: #f0f7fd;
  border-left-color: #0275d8;
*/

.card-header {
  background-color: #0275d8;
  color: #FFF;
}

.card-header h5 {
  margin-bottom: 0px;
}
